.user-info {
    display:flex;
    
}

.user-info-item{
    
}

.create-form {
  padding:30px;
  list-style: none;
}

.create-item {
    font-size: 20px;
    font-weight: bold;
    width:50%;
    text-align: left;
}