.wrapper {
    justify-content: center;
    text-align: center;
}

.title{
    font-weight:bold;
    font-size:32px;
}

.button-wrapper {
    justify-content: center;
    margin:0 auto;
    margin-top:30px;
    display: flex;
    color:white;
}


.button-black {
    vertical-align: center;
    font-weight:bold;
    height:30px;
    width:150px;
    border:1px black solid;
    color:black;
    border-radius: 5px;
    text-decoration: none;
}