{{define "create"}}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/create.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="title">ユーザー作成</div>
      <form action="/create/complete" method="POST">
        <ul>
          <li class="create-form">
            <div class="user-info">
              <div class="create-item">名前:</div>
              <div><input type="text" name="name" /></div>
            </div>
          </li>
          <li class="create-form">
            <div class="user-info">
              <div class="create-item">メールアドレス:</div>
              <div><input type="text" name="email" /></div>
            </div>
          </li>
        </ul>
        <input type="submit" />
      </form>
      <div class="button-wrapper">
        <a href="/" class="button-black">トップに戻る</a>
      </div>
    </div>
  </body>
</html>
{{end}}
