{{define "index"}}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="content-wrapper">
      <div class="wrapper">
        <div class="title">Go CRUD App</div>

        <table class="content-table">
          <tr>
            <th class="column">ID</th>
            <th class="column">名前</th>
            <th class="column">メールアドレス</th>
          </tr>
          {{range $user := .}}
          <tr>
            <td>{{$user.ID}}</td>
            <td>{{$user.Name}}</td>
            <td>{{$user.Email}}</td>
            <td>
              <button type="submit">
                <a href="/{{$user.ID}}">削除する</a>
              </button>
            </td>
          </tr>
          {{end}}
        </table>

        <div class="button-wrapper">
          <a href="/create"><div class="button-black">Create</a>
        </div>
      </div>
    </div>
  </body>
</html>
{{end}}
